{% extends 'core/main.html' %}
{% load static %}
{% block title %}Informe de paciente{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{object.name}}</h2>
        <div>
          <p>Habitación: {{page.room}}</p>
          <p>DNI: {{page.dni}}</p>
          <p>Habitación: {{page.room}}</p>
          <p>Edad: {{page.age}}</p>
          <p>Altura (Mt.): {{page.height}}</p>
          <p>Peso (Kg.): {{page.weight}}</p>
          <p>Fecha de ingreso: {{page.entry}}</p>
          <p>Diagnostico principal: {{page.diagnostic}}</p>
          <p>Medicación administrada: {{page.medication}}</p>
          <p>Observaciones: {{page.observation}}</p>
          <p>Ultimo registro: {{page.update}}</p>
         
          {% if request.user.is_staff %}
            <br>
            <p><a class="btn btn-success btn-sm" href="{% url 'pages:update' page.id %}" role="button">Editar</a></p>
            <p><a class="btn btn-danger btn-sm" href="{% url 'pages:delete' page.id %}" role="button">Eliminar</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
