{% extends 'core/main.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Habitación</th>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">Fecha de Egreso</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for page in page_list %}
      <tr>
        <th scope="row">{{page.id}}</th>
        <td>{{page.name}}</td>
        <td>{{page.dni}}</td>
        <td>{{page.leave}}</td>
        <td><a class="btn btn-dark btn-sm" href="{% url 'pages:page' page.id page.name|slugify %}" role="button">Ver reserva</a></td>
      </tr>
      {%empty%}
      <tr>
        <th scope="row">{{"No hay reservas realizadas"}}</th>
        <td>{{""}}</td>
        <td>{{""}}</td>
        <td>{{""}}</td>
        <td><a class="btn btn-dark btn-sm" role="button" href="{% url 'pages:create' %}">Crear reserva</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
