{% extends 'core/main.html' %}
{% load static %}
{% block title %}Reservas{% endblock %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/DataTables-1.13.1/css/jquery.dataTables.min.css'%}">
{% endblock %}
<table class="table" id="listado">
    <thead>
      <tr>
        <th scope="col">Habitación</th>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">Diagnostico principal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for page in page_list %}
        <tr>
        <th scope="row">{{page.room}}</th>
        <td>{{page.name}}</td>
        <td>{{page.dni}}</td>
        <td>{{page.diagnostic}}</td>
        <td><a class="btn btn-dark btn-sm" href="{% url 'pages:page' page.id page.name|slugify %}" role="button">Ver informe</a></td>
      </tr>
      {%empty%}
    
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
{% block js %}
<script src="{% static 'core/DataTables-1.13.1/js/jquery.dataTables.min.js'%}"></script>
    <script type="aplication/javascript">
      ($function () {
        $('listado').DataTable();
    });
</script>
{% endblock %}
